<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RegisterDataOwner</servlet-name>
        <servlet-class>vs.RegisterDataOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDataOwner</servlet-name>
        <servlet-class>vs.LoginDataOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>vs.FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterDataUser</servlet-name>
        <servlet-class>vs.RegisterDataUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDataUser</servlet-name>
        <servlet-class>vs.LoginDataUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>vs.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cloudProviderLogin</servlet-name>
        <servlet-class>vs.cloudProviderLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterDataOwner</servlet-name>
        <url-pattern>/RegisterDataOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDataOwner</servlet-name>
        <url-pattern>/LoginDataOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterDataUser</servlet-name>
        <url-pattern>/RegisterDataUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDataUser</servlet-name>
        <url-pattern>/LoginDataUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cloudProviderLogin</servlet-name>
        <url-pattern>/cloudProviderLogin</url-pattern>
    </servlet-mapping>
</web-app>
